.stringChangeBox{
    height: 100%;
    .topOprateBox{
        text-align: center;
        .marginBtn{
            margin-left: 40px;
        }
    }
    .stringChangeContent {
        display: flex;
        height: 100%;
    }
    .leftBox {
        width: 36%;
        overflow: auto;
        padding: 20px;
        height: 100%;
        border-right: 2px solid #cccccc;
    }
    textarea {
        height: 80%;
        width: calc(100% - 20px);
        overflow: scroll;
        border: none;
        resize: none;
        padding: 10px;
        border-radius: 10px;
        background-color: aliceblue;
        word-break: break-all;
        white-space: wrap;
    }
    .showBox{
        background-color: #eeeeee;
        padding: 20px;
        border-radius: 8px;
    }
    .rightBox{
        flex: 1;
        height: 100%;
        overflow: auto;
        padding: 20px;
        word-break: break-all;
        white-space: wrap;
        .tip{
            text-align: center;
        }
        .errorTip, .needIndex{
            color: #ff4d4f;
        }
    }
}