.caseWrap{
    .menuWrap{
        width: 300px;
        user-select: none;
    }
    .operateBox{
        margin-bottom: 10px;
        text-align: right;
        width: 100%;
        button{
            margin-right: 20px;
        }
    }
    .mobileContent{
        .ant-alert{
            position: absolute;
            left: 0;
            right: 120px;
        }
        position: relative;
        .operateBox{
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
    .iconBox{
        text-align: right;
        margin-top: 10px;
        .iconfont{
            font-size: 20px;
            margin-left: 20px;
            cursor: pointer;
        }
    }   
}
.ant-popover .ant-popover-inner{
    padding: 5px;
    .qrimg{
        width: 100px;
        height: 100px;
    }
}
.ant-drawer .caseDrawer{
    .introItem{
        font-size: 16px;
        margin-top: 15px;
        line-height: 28px;
    }
}