.pageWrap {
    overflow: auto;
    .title{
        position: fixed;
        background-color: #fff;
        z-index: 999;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        box-sizing: border-box;
        background-color: #fff;
        padding: 20px 32px;
        margin: auto;
        box-shadow: 0 5px 20px rgba(0,0,0,.03), 0 6px 6px rgba(0,0,0,.05);
        transition: all 1s cubic-bezier(.25,.8,.25,1);
        h2{
            font-size: 24px;
        }
        .navList{
            display: flex;
            li{
                margin-left: 20px;
                font-size: 16px;
                a{
                    color: #222;
                }
            }
        }
    }
    .main{
        margin-top: 74px;
    }
}